<div >

  <h1>User: {{username}}</h1>

  <hr />

<!--
  Users online:
  <ol>
    <li ng-repeat="userOnline in user.usersOnline">{{userOnline.username}}</li>
  </ol>

  <hr />

  Unreaded messages from:
  <ol>
    <li ng-repeat="chat in user.unreadedChats">{{chat.users[0].username}} - {{chat.users[1].username}}</li>
  </ol>

  <hr />
-->

  Avaible chats
  <ol>
    <li ng-repeat="chat in chats">{{chat.chatWith}}</li>
  </ol>

  <hr />

  Open chat:
  <input type="text" ng-model="searchUser">
  <button ng-click="openChat()">open chat</button>
  <br />

  <h3>Chat with {{chatWith}}</h3> 

  Messages:
  <ol>
    <li ng-repeat="message in myChat.messages">[{{message.sender || user.name}}] - {{message.content}}</li>
  </ol>

  Enter message:
  <input type="text" ng-model="messageContent">
  <button ng-click='sendMessage()'>send</button>

  <hr />
</div>
