<div >

  <h1>User: {{user.id}}</h1>

  <hr />

  Unreaded messages from:
  <ol>
    <li ng-repeat="chatId in user.unreadedChats">{{chatId}}</li>
  </ol>

  <hr />

  Search user:
  <input type="text" ng-model="searchUser">
  <button ng-click="openChat()">open chat</button>
  <br />

  <h3>Chat with {{chatWith}}</h3> 

  Messages:
  <ol>
    <li ng-repeat="message in chat.messages">[{{message.senderId}}] - {{message.content}}</li>
  </ol>

  Enter message:
  <input type="text" ng-model="messageContent">
  <button ng-click='sendMessage()'>send</button>

  <hr />
</div>
